section {
    gap: 1rem;
}

.log-button {
    color: black;
    text-decoration: none;
    text-align: center;
    background-color: lightgrey;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-wrap: break-word;
    flex: 1;
}

.log-button:hover {
    background-color: color-mix(in srgb, lightgrey 100%, #000000 50%) ;
}

section > a > h3 {
    margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
    header > h1 {
        padding: 1rem;
    }

    .log-button {
        width: 85%;
    }
}

