#log-buttons {
    gap: 1rem;
    margin-bottom: 5rem;
}

.log-button {
    color: black;
    text-decoration: none;
    text-align: center;
    background-color: lightgrey;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-wrap: break-word;
    flex: 1;
}

.log-button:hover {
    background-color: color-mix(in srgb, lightgrey 100%, #000000 50%) ;
}

#log-buttons > a > h3 {
    margin-bottom: 0;
}

.card {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    body {
        padding-bottom: 6rem; /* Accounts for 4rem mobile navbar height plus 2rem extra spacing on the log page */
    }

    header > h1 {
        padding: 1rem;
    }

    .log-button, .card {
        width: 85%;
    }
}

