/*************************/
/* Site Font Definitions */
/*************************/

@font-face {
    font-family: 'Inter', sans-serif;
    src: url('/MyJot/misc/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url('/MyJot/misc/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
}

/************************/
/* Document Base Styles */
/************************/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

/*********************/
/* Type Scale Styles */
/*********************/

h1 {
    font-size: 2.986rem;
    font-weight: bold;
}

h2 {
    font-size: 2.488rem;
    font-weight: bold;
}

h3 {
    font-size: 2.074rem;
    font-weight: bold;
}

h4 {
    font-size: 1.728rem;
    font-weight: bold;
}

h5 {
    font-size: 1.44rem;
    font-weight: bold;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

small {
    font-size: 0.833rem;
}