/*************************************/
/* Spinner Component (Used Globally) */
/*************************************/
.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 32px 0 #000, -32px 0 #000;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
}
  
@keyframes flash {
    0% {
      background-color: #0002;
      box-shadow: 32px 0 #0002, -32px 0 #000;
    }
    50% {
      background-color: #000;
      box-shadow: 32px 0 #0002, -32px 0 #0002;
    }
    100% {
      background-color: #0002;
      box-shadow: 32px 0 #000, -32px 0 #0002;
    }
}

/********************************************/
/* Tooltip Component Styles (Used Globally) */
/********************************************/
.myjot-tooltip {
  color: black;
  text-decoration: none;
}
  


