#setting-button-group {
    width: 100%;
}

#setting-content {
    padding: 0 0 0 2rem;
}

#setting-content > section {
    margin-bottom: 1.75rem;
}

#add-new-custom-meal-button, #add-new-exercise-routine-button {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    body {
        padding-bottom: 6rem; /* Accounts for 4rem mobile navbar height plus 2rem extra spacing on the settings page */
    }

    #setting-button-group {
        width: 80%;
    }

    #setting-content {
        padding: 0rem;
    }    

    #setting-content > section, #confirm-changes-button {
        width: 80%;
    }
}