#setting-content {
    padding: 0 0 0 2rem;
}

#setting-content > #general-settings > #username-input {
    margin-bottom: 1.75rem;
}

#settings-validation-errors-alert, #setting-button-group, #add-new-custom-meal-button, #add-new-exercise-routine-button {
    width: 100%;
}

.hide-section {
    display: none !important;
}

@media screen and (max-width: 1200px) {
    body {
        padding-bottom: 6rem; /* Accounts for 4rem mobile navbar height plus 2rem extra spacing on the settings page */
    }

    #setting-button-group {
        width: 85%;
    }

    #setting-content {
        padding: 0rem;
    }    

    #confirm-changes-button {
        width: 100%;
    }

    #settings-validation-errors-alert, #setting-content > section {
        width: 85%;
    }
}