#file-upload-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    /* Ensure full viewport height; 100vh as fallback if svh is unsupported */
    min-height: 100vh;
    min-height: 100svh;

    padding: 0 2rem
}

header, section {
    margin-bottom: 2rem;
}

section {
   display: flex;
   justify-content: center;
}

footer > a {
    color: black;
    text-decoration: none;
}

footer > a:hover {
    text-decoration: underline;
}
