<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyJot" />
    <link rel="manifest" href="myjot.json" />

    <!-- Custom metadata: defines page-specific CSS and JS resources to load via a comma‑separated list. Failures are unhandled to ensure fast failure -->
    <meta data-custom-stylesheets="/css/site/log-meal/log-meal.css">
    <meta data-custom-scripts="/js/site/log-meal/logMealScripts.js">

    <!-- Optional custom metadata: defines any page-specific components to include via a comma‑separated list. Failures are unhandled to ensure fast failure -->
    <meta data-custom-shared-components="navbar">

    <!-- 
        Optional custom metadata: Provides an override for the page name used in the navbar. 
        If present, this value is passed to the JS script as the active page label 
        instead of reading from <title>. 
        Failures are unhandled to ensure fast failure 
    -->
    <meta data-nav-label-override="Log">

    <title>Log Meal</title>

    <!-- Import the shared app setup script to dynamically add the necessary site CSS/JS and vendor CSS/JS to the document head. -->
    <script type="module" src="/js/site/shared/SharedAppSetup.js"></script>
  </head>
  <body>
    <div class="container" id="log-meal-page-container">
        <header class="d-flex flex-column align-items-center mb-5">
            <a class="text-black text-decoration-none align-self-xl-start" href="/pages/log.html">
                <i class="fa-solid fa-caret-left"></i>
                Return to Homepage
            </a>
            <div class="alert alert-danger mt-5 d-none" id="log-meal-validation-errors-alert" role="alert">
                
            </div>
        </header>
        <section class="d-flex flex-column align-items-center">
            <h3 class="align-self-xl-start text-center mb-4" id="log-meal-page-title">Log Meal</h3>
            <span class="loader d-block mx-auto my-0"></span>
            <div class="d-none mb-xl-5" id="app">
                <section class="mb-5">
                    <div class="d-flex flex-column gap-2 mb-4">
                        <label for="log-name">
                            Log Name
                            <a class="myjot-tooltip" data-bs-toggle="tooltip" data-bs-title="Default tooltip">
                                <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
                            </a>
                        </label>
                        <input v-model="inputtedLogName" type="text" class="form-control" id="log-name" name="log-name">
                    </div>
                    <div class="d-flex flex-column gap-2 mb-4" :class="(isAddCustomMealMode || isEditCustomMealMode) ? 'd-none' : ''">
                        <label for="date-time">Date & Time</label>
                        <input v-model="selectedDateTime" type="datetime-local" class="form-control" id="date-time" name="date-time"/>
                    </div>
                    <div class="d-flex flex-column gap-2 mb-4">
                        <label for="notes">Notes (Optional)</label>
                        <textarea v-model="inputtedNotes" type="textarea" class="form-control" id="notes"></textarea>
                    </div>
                </section>
                <br />
                <section class="mb-5">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3>Meal Details</h3>
                        <button v-on:click="showLoadFromCustomMealModal = true" type="button" class="btn p-0 mb-1">
                            <i class="fa-solid fa-ellipsis fa-2x"></i>
                        </button>

                        <!-- Load From Custom Meal Modal Markup -->
                        <p-dialog v-model:visible="showLoadFromCustomMealModal" modal header="Load From Existing Meal" :style="{ width: '50vw' }" :breakpoints="{ '575px': '90vw' }">
                            <div class="d-flex flex-column mb-4">
                                <p-select v-model="selectedCustomMeal" :options="existingCustomMealNames" option-label="logName" option-value="id" id="existing-custom-meal" name="existing-custom-meal" checkmark :highlightOnSelect="false" />
                            </div>
                            <div class="text-center mb-3">
                                <input @click="loadMealDetails()" type="button" class="btn btn-dark" :class="!selectedCustomMeal ? 'd-none' : ''" :value="'Load Meal Details'"/>      
                            </div>
                        </p-dialog>
                    </div>
                    <div class="d-flex flex-column gap-2 mb-4">
                        <label for="meal-name">Name</label>
                        <input v-model="inputtedMealName" type="text" class="form-control" id="meal-name" name="meal-name">
                    </div>
                    <div class="d-flex flex-column gap-2 mb-4">
                        <label for="meal-type">Type</label>
                        <p-select v-model="selectedMealType" :options="mealTypes" id="meal-type" name="meal-type" checkmark :highlightOnSelect="false" />
                    </div>
                    <div class="d-flex flex-column gap-2 mb-4">
                        <label for="calories">Calories (Optional)</label>
                        <p-input-number v-model="inputtedCalories" inputId="calories" :min="0" suffix=" cal" fluid />        
                    </div>
                    <div class="d-flex flex-column gap-2 mb-4">
                        <label for="protein">Protein (Optional)</label>
                        <p-input-number v-model="inputtedProtein" inputId="protein" :min="0" suffix=" grams" fluid />        
                    </div>
                    <div class="d-flex flex-column gap-2 mb-4">
                        <label for="carbs">Carbs (Optional)</label>
                        <p-input-number v-model="inputtedCarbs" inputId="carbs" :min="0" suffix=" grams" fluid />        
                    </div>
                    <div class="d-flex flex-column gap-2 mb-4">
                        <label for="Fats">Fats (Optional)</label>
                        <p-input-number v-model="inputtedFats" inputId="fats" :min="0" suffix=" grams" fluid />        
                    </div>
                </section>
                <div class="d-flex flex-column d-xl-block text-xl-center mb-xl-4">
                    <input @click="addMealEntry()" type="button" class="btn btn-dark" id="add-meal-entry" :value="ctaButtonText"/>      
                </div>
            </div>
        </section>
    </div>
  </body>
</html>