<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Custom metadata: defines page-specific CSS and JS resources to load via a comma‑separated list. Failures are unhandled to ensure fast failure -->
    <meta data-custom-stylesheets="/css/site/log-workout/log-workout.css">
    <meta data-custom-scripts="/js/site/log-workout/logWorkoutScripts.js">

    <!-- Optional custom metadata: defines any page-specific JS script modules to include via a comma‑separated list. Failures are unhandled to ensure fast failure -->
    <meta data-custom-script-modules="/js/site/log-workout/drag-drop-touch.esm.min.js">

    <!-- Optional custom metadata: defines any page-specific components to include via a comma‑separated list. Failures are unhandled to ensure fast failure -->
    <meta data-custom-shared-components="navbar">

    <!-- 
        Optional custom metadata: Provides an override for the page name used in the navbar. 
        If present, this value is passed to the JS script as the active page label 
        instead of reading from <title>. 
        Failures are unhandled to ensure fast failure 
    -->
    <meta data-nav-label-override="Log">

    <title>Log Workout</title>

    <!-- Import the shared app setup script to dynamically add the necessary site CSS/JS and vendor CSS/JS to the document head. -->
    <script type="module" src="/js/site/shared/SharedAppSetup.js"></script>
  </head>
  <body>
    <div class="container" id="log-workout-page-container">
        <header class="mb-5 text-center text-xl-start">
            <a class="text-black text-decoration-none" href="/pages/log.html">
                <i class="fa-solid fa-caret-left"></i>
                Return to Homepage
            </a>
        </header>
        <section class="d-flex flex-column align-items-center">
            <h3 class="align-self-xl-start mb-4">Log Workout</h3>
            <span class="loader d-block mx-auto my-0"></span>
            <div class="d-none mb-xl-5" id="app">
                <section class="mb-5">
                    <div class="d-flex flex-column gap-2 mb-4">
                        <label for="log-name">
                            Log Name
                            <a class="myjot-tooltip" data-bs-toggle="tooltip" data-bs-title="Default tooltip">
                                <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
                            </a>
                        </label>
                        <input v-model="inputtedLogName" type="text" class="form-control" id="log-name" name="log-name">
                    </div>
                    <div class="d-flex flex-column gap-2 mb-4">
                        <label for="date-time">Date & Time</label>
                        <input v-model="selectedDateTime" type="datetime-local" class="form-control" id="date-time" name="date-time"/>
                    </div>
                    <div class="d-flex flex-column gap-2 mb-4">
                        <label for="bodyweight">Bodyweight</label>
                        <p-input-number v-model="inputtedBodyWeight" inputId="bodyweight" :min="0" fluid />        
                    </div>
                    <div class="d-flex flex-column gap-2 mb-4">
                        <label for="weight-unit-type">Weight Unit Type (Optional)</label>
                        <p-select v-model="selectedUnitType" :options="weightUnitTypes" id="weight-unit-type" name="weight-unit-type" checkmark :highlightOnSelect="false" />
                    </div>
                    <div class="d-flex flex-column gap-2 mb-4">
                        <label for="notes">Notes (Optional)</label>
                        <textarea v-model="inputtedNotes" type="textarea" class="form-control" id="notes"></textarea>
                    </div>
                </section>
                <br />
                <section class="mb-5">
                    <div class="d-flex flex-row justify-content-between align-items-center mb-5">
                        <h3 class="mb-0">Workout Details</h3>
                        <button v-on:click="showAddExerciseModal = true" type="button" class="btn p-0">
                            <i class="fa-solid fa-circle-plus fa-2x"></i>
                        </button>
                    </div>
                    <p class="text-center d-none">No exercises have been added</p>

                    <!-- Added Exercise Card Components -->
                    <div id="added-exercises">
                        {{workoutStore.addedExercises}}
                        <exercise-component v-for="exercise in workoutStore.addedExercises" :key="exercise.id" :id="exercise.id" :name="exercise.name" :notes="exercise.notes" :category="exercise.category" :sets="exercise.sets"></exercise-component>
                    </div>
                    
                    <!-- Add Exercise Modal Markup -->
                    <p-dialog v-model:visible="showAddExerciseModal" modal header="Add Exercise" :style="{ width: '50vw' }" :breakpoints="{ '575px': '90vw' }">
                        <p class="mb-3">Exercise Setup</p>
                        <div class="mb-5">
                            <div class="form-check mb-2">
                                <input v-model="selectedExerciseSetup" class="form-check-input" type="radio" name="exercise-setup" id="addNewExercise" value="new">
                                <label class="form-check-label" for="addNewExercise">
                                    Add a new exercise
                                </label>
                            </div>
                            <div class="form-check">
                                <input v-model="selectedExerciseSetup" class="form-check-input" type="radio" name="exercise-setup" id="loadExistingExercises" value="existing">
                                <label class="form-check-label" for="loadExistingExercises">
                                    Load exercises from existing routine
                                </label>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-2 mb-4" :class='selectedExerciseSetup === "new" ? "d-flex" : "d-none"'>
                            <label for="new-exercise-type">Category</label>
                            <p-select v-model="selectedNewExerciseType" :options="exerciseTypes" id="new-exercise-type" name="new-exercise-type" checkmark :highlightOnSelect="false" />
                        </div>
                        <div class="d-flex flex-column gap-2 mb-4" :class='selectedExerciseSetup === "existing" ? "d-flex" : "d-none"'>
                            <label for="existing-exercise-routine">Routine</label>
                            <p-select v-model="selectedExerciseRoutine" :options="existingExerciseRoutineNames" id="existing-exercise-routine" name="existing-exercise-routine" checkmark :highlightOnSelect="false" />
                        </div>
                        <br>
                        <div class="text-center mb-3">
                            <input v-on:click="showAddExerciseModal = false" type="button" class="btn btn-dark" id="add-meal-entry" :value='selectedExerciseSetup === "new" ? "Add Exercise" : "Add Exercises"'/>      
                        </div>
                    </p-dialog>
                </section>
                <section class="d-flex flex-column d-xl-block text-xl-center mb-xl-4">
                    <input type="button" class="btn btn-dark" id="add-meal-entry" value="Add Workout Entry"/>      
                </section>
            </div>
        </section>
    </div>
  </body>
</html>