<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Custom metadata: defines page-specific CSS and JS resources to load via a comma‑separated list. Failures are unhandled to ensure fast failure -->
    <meta data-custom-stylesheets="/css/site/log/log.css">
    <meta data-custom-scripts="/js/site/log/logScripts.js">

    <!-- Optional custom metadata: defines any page-specific components to include via a comma‑separated list. Failures are unhandled to ensure fast failure -->
    <meta data-custom-shared-components="navbar">

    <title>Log</title>

    <!-- Import the shared app setup script to dynamically add the necessary site CSS/JS and vendor CSS/JS to the document head. -->
    <script type="module" src="/js/site/shared/SharedAppSetup.js"></script>
  </head>
  <body>
    <div class="container" id="log-page-container">
        <header class="d-flex flex-column align-items-center mb-5">
            <div class="alert alert-danger mb-5 d-none" id="log-errors-alert" role="alert">asdf</div>
            <h1 class="text-center text-xl-start align-self-xl-start" id="user-welcome-message">Welcome back Jane Doe!</h1>
        </header>
        <section class="d-flex flex-column align-items-center flex-xl-row align-items-xl-start" id="log-buttons">
            <a type="button" class="log-button" id="log-meal-button" href="/pages/log-meal.html">
                <h3><i class="fas fa-plus-circle me-2"></i>Log Meal</h3>
            </a>
            <a type="button" class="log-button" id="log-workout-button" href="/pages/log-workout.html">
                <h3><i class="fas fa-plus-circle me-2"></i>Log Workout</h3>
            </a>
            <a type="button" class="log-button" id="save-data-button">
                <h3><i class="fas fa-save me-2"></i>Save Data</h3>
            </a>
        </section>
        <section class="d-flex flex-column align-items-center">
          <h3 class="mb-4 align-self-xl-start">History</h3>
          <span class="loader"></span>
          <div class="card p-4 mb-xl-5 d-none" id="app">
            <p v-if="!logs.length" class="text-center">No logs have been added yet.</p>
            <p-datatable v-else :value="logs" :globalFilterFields="['category', 'name', 'datetime']" v-model:filters="filters" filter-display="menu" paginator :rows="5" :rows-per-page-options="[5, 10, 20, 50]" removable-sort show-gridlines striped-rows>
              <template #header>
                <div class="d-flex flex-column flex-xl-row justify-content-xl-between align-items-xl-center">
                    <p-button class="order-1 order-xl-0" severity="secondary" label="Clear Filters" @click="clearAllFilters()"></p-button>
                    <p-input-text class="mb-2 order-0 mb-xl-0 order-xl-1" v-model="filters['global'].value" placeholder="Search" />
                </div>
              </template>
              <p-column field="category" header="Category" sortable>
                <template #filter="{ filterModel, filterCallback }">
                  <p-input-text v-model="filterModel.value" @input="filterCallback()" type="text" placeholder="Search by category" />
                </template>
              </p-column>
              <p-column field="name" header="Name" sortable>
                <template #filter="{ filterModel, filterCallback }">
                  <p-input-text v-model="filterModel.value" @input="filterCallback()" type="text" placeholder="Search by name" />
                </template>
              </p-column>
              <p-column field="datetime" header="Date & Time" sortable sort-field="sortableDateTime">
                <template #filter="{ filterModel, filterCallback }">
                  <p-input-text v-model="filterModel.value" @input="filterCallback()" type="text" placeholder="Search by date & time" />
                </template>
              </p-column>
              <p-column field="editlog" header="" :class="`text-center`">
                <template #body="slotProps">
                  <a class="text-decoration-none text-black" :href="`${slotProps.data.editlog}`">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                </template>
              </p-column>
              <p-column field="deletelog" header="" :class="`text-center`">
                <template #body="slotProps">
                  <button class="bg-transparent text-decoration-none text-black" :data-log-info="`${slotProps.data.deletelog}`" @click="deleteLog">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </template>
              </p-column>
            </p-datatable>
          </div>
        </section>
    </div>
  </body>
</html>